*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: Arial, sans-serif;
    padding: 3rem;
    text-align: center;
    background: linear-gradient(to bottom,#000000 20%,#14161a 60%,#12161e);
    min-height: 100vh;
    background-repeat: no-repeat;
    width: 100%;
    height: 1080px;
}
h1{
    color: #fff;
    font-size: 3rem;
    margin-bottom: 4rem;
}
input{
    padding-left: 1rem;
    width: 25rem;
    height: 2.6rem;
    font-size: 1rem;
}
button{
    width:4rem ;
    height: 2.6rem;
    font-size: 1rem; 
}
button:hover{
    background-color: aqua;
}
.resultado{
    margin-top: 2rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.card{
    background-color: #0f1011;
    border: 0.2rem solid yellow;
    border-radius: 8px;
    padding: 2rem;
    width: 100%;
}
p{
    font-size: 1.5rem;
    color: #fff;
    margin: 0.5rem;
}
h1{
    color: yellow;
    margin: 2rem;
}
#titulo{
    color: #fff;
}
.datosPersonaje{
    display: flex;
    text-align: start;
}
.text1{
    width: 60rem;
    margin-left: 4rem;
}
.arreglarestacosa{
    display: flex;
    flex-direction: column;
}