*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: Arial, sans-serif;
    padding: 20px;
    text-align: center;
    background: linear-gradient(to bottom,#0f1011 20%,#0c1323 60%,#1b2e58);
    min-height: 100vh;
    background-repeat: no-repeat;
    width: 100%;
    height: 1080px;
}
h1{
    color: #fff;
    font-size: 3rem;
    margin-bottom: 4rem;
}
input{
    padding: 10px;
    width: 250px;
    font-size: 16px;
    margin-left: 10px;
}


button{
    padding: 10px 15px;
    font-size: 16px;
    
}
button:hover{
    background-color: aqua;
}
.resultado{
    margin-top: 2rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}
.card{
    background-color: #070606;
    border: 0.2rem solid #30266b;
    border-radius: 8px;
    padding: 2rem;
    width: 100%;
}
.card img{
    width: 100%;
    border-radius: 5px;
}
p{
    color: #fff;
    margin-top: 0.5rem;
}
h1{
    color: #30266b;
    margin: 2rem;
}
#titulo{
    color: #fff;
}